@mixin containerWrapper {
  height: $minHeight;
  width: $bodyWidth;
  margin: 0 auto;
  background-color: $backgroundColor;
  color: $color;
}

@mixin flexContainer($flexDirection) {
  display: flex;
  flex-direction: $flexDirection;
}

@mixin mobile() {
  @media (max-width: $mobile) {
    @content;
  }
}
