@import "./reset";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  color: $mainColor;
  box-shadow: $boxShadow;
}

@mixin boxShadow($arg1) {
  box-shadow: $arg1;
}

section {
  @include boxShadow($boxShadow);
}

// Variables: Let's first see CSS variables

body {
  background-color: $mainColor;
  font-weight: weight(bold);
}

.main {
  width: 80%;
  margin: 0 auto;
  color: $colorBlack;
  #{&}__paragraph {
    padding: 1rem 0;

    &:hover {
      color: $btnSecondary;
      cursor: pointer;
    }
  }

  @include flexCenter();
}
